body{
    margin: 0!important;
}
section{
    background: linear-gradient(180deg, rgb(43, 55, 63), rgb(52, 109, 140), rgb(43, 122, 165));
    width: 100%;
    height: 100vh;
}
#conteneder-form{
    background-color: rgba(0, 0, 0, 0.075);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#conteneder-form>div{
    width: 50vh;
    height: 70vh;
    color: white;
    background-color: rgb(33, 41, 49);
    border-radius: 15px;
}

#conteneder-form>div>div{
    display: flex;
    justify-content: center;
    height: 20vh;
}